@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  width: 200vw;
  height: 200vh;
  flex-direction: column;
  background: linear-gradient(#707070, #000);
}

.container,
.content-inside {
  display: flex;
}

a {
  text-decoration: none;
}
.row {
  width: 100%;
  height: 50%;
}

.section {
  width: 50%;
  height: 100%;
}

#first {
  /* background-color: black; */
}

#second {
  /* background-color: rgb(255, 255, 255); */
}
#third {
  /* background-color: rgb(255, 255, 255); */
}
#fourth {
  /* background-color: black; */
}

.last-week-title {
  padding: 0;
  color: #fff;
  letter-spacing: 0.2em;
  font-weight: 200;
  font-size: 3rem;
}

.navbar {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.navbar a:nth-child(2n + 0) {
  color: #c1c1c1;
}

.navbar a {
  text-align: center;
  color: #fff;
  margin-top: 20px;
  letter-spacing: 0.2em;
  -webkit-transition: font-weight 0.5s, letter-spacing 0.5s;
  transition: font-weight 0.5s, letter-spacing 0.5s;
  font-weight: 200;
}

.navbar a:hover {
  letter-spacing: 0.5em;
  font-weight: 600;
}

.coming-soon {
  letter-spacing: 0.5em;
  color: #c1c1c1;
  font-weight: 400;
}

.section {
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.content-inside {
  height: 90%;
  width: 95%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.scrollable-content {
  overflow: scroll;
  /* border: 2px solid white; */
  background-color: white;
}

.social {
  font-size: 2rem;
  color: #c1c1c1;
  letter-spacing: 0.2em;
  font-weight: 100;
}
