@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");

@font-face {
  font-family: 'OldLondon';
  src: url(assets/Olondon_.otf);
  font-weight: bold;
}

.logo {
  width: 70vw;
  margin: 0;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.lorem {
  font-family: "Open Sans", sans-serif;
  width: 50vh;
  justify-content: center;
  margin: auto;
  color: #b80b00;
}

.image {
  filter: grayscale(100%);
  width: 50vw;
  height: auto;
  opacity: 0.7;
  margin: auto;
}
