@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600');

body {
  font-family: 'Montserrat', sans-serif;
  background: #000;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.main-title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  color: #fff;
  letter-spacing: 0.2em;
  font-weight: 200;
}

.main-container {
  display: grid;
  height: 100vh;
  margin: 0em;
  place-items: center center;
  position: relative;
  width: 90vw;
  height: 90vh;
  background: #fff;
  align-content: center;
  justify-content: center;
  margin: auto;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar a {
  text-decoration: none;
  text-align: center;
  color: #000;
  display: block;
  padding: 10px;
  letter-spacing: 0.2em;
  -webkit-transition: font-weight 0.5s, letter-spacing 0.5s;
  transition: font-weight 0.5s, letter-spacing 0.5s;
  font-weight: 200;
}

.navbar a:hover {
  color: rgb(0, 0, 0);
  letter-spacing: 0.5em;
  font-weight: 600;
}

.coming-soon {
  letter-spacing: 0.5em;
  color: #c1c1c1;
  font-weight: 400;
}

.logo {
  width: 60%;
  height: auto;
}
